* `Borough MYE 1981-2015.csv` from https://data.gov.uk/dataset/c58d79f6-ed9e-454a-8a47-042b492ce99f/historical-borough-populations
* `london-borough-profiles.csv` from https://data.gov.uk/dataset/248f5f04-23cf-4470-9216-0d0be9b877a8/london-borough-profiles-and-atlas
* `housing-density-borough.csv` from https://data.gov.uk/dataset/a76f46f9-c10b-4fe7-82f6-aa928471fcd1/land-area-and-population-density-ward-and-borough
* `lp-consultation-oct-2009-subregions-shp` from https://data.gov.uk/dataset/42c4b94b-77ed-4c4c-b102-876eb96972e8/sub-regions-london-plan-consultation-2009 (five sub regions: Central, North, East, South and West)
* `ne_50m_admin_0_countries.zip` from https://www.naturalearthdata.com/downloads/50m-cultural-vectors/

# Data Science - Python and Pandas


## Table of Content

1. [Introduction](#introduction)<br>
1.1. [Series and DataFrames](#series)<br>
1.2. [Indexing](#index)<br>
1.3. [Data Selection](#selection)<br>
2. [Transform data](#transform)<br>
2.1. [Adding and deleting columns](#columns)<br>
2.2. [Cleaning Data](#cleaning)<br>
2.3. [Merging Data](#merging)<br>
2.4. [Grouping Data](#grouping)<br>
3. [Visualise data](#visualise)<br>
4. [Optional Excercises and further learning](#extra)<br>

Let's start with loading the packages and a quick look at some data. Select the below cell by clicking on it, and then click on the `Run` button at the top of the notebook (or use `Shift+Enter`). This is how you can run all code cells in this notebook. The numbers in front of the cells tell you in which order you have run them, for instance `[1]`. When you see a `[*]` the cell is currently running and `[]` means you have not run the cell yet. **It is important to run all cells!**

In [ ]:
!pip install --upgrade seaborn

After running the first cell with code above, restart the notebook by clicking on the `Kernel` tab at the top of the notebook, and then `Restart`. You do not have to run the above cell again after the restart as updating the seaborn package only has to be done once. It is best to do this now instead of finding out later in the notebook that this package is out of date.

Now run the next cell that will import two other packages:

In [5]:
import numpy as np
import pandas as pd

With Pandas it is easy to load a csv file. Let's load a file by running the following cell:

In [23]:
df = pd.read_csv('../data/london-borough-profiles.csv',encoding = 'unicode_escape')

<div class="alert alert-danger" style="font-size:100%">
If you are using <b>Watson Studio</b> to run the workshop you will get an error with the above, because you have no local files in the data folder. First store the data in your Cloud Object Store (COS) by adding the files in the menu on the right of the notebook (if you see no menu, click the <b><font face="Courier">1010</font></b> button at the top first) and then load the data by following these steps:

<ul>
  <li>Activate the below cell, move the cursor to the empty line under  <b><font face="Courier"># add data</font></b></li>
  <li>Click on <b><font face="Courier">Insert to code</font></b> under the file from the right menu</li>
  <li>Select <b><font face="Courier">Insert pandas DataFrame</font></b></li>
  <li>Code to load the file will be inserted</li>
  <li>Change the default name of the data from <b><font face="Courier">df_data_1</font></b> to <b><font face="Courier">df</font></b> at the bottom two lines of the inserted code</li>
  </ul>
</div>

In [24]:
# add data

<div class="alert alert-success">
 <b>EXERCISE</b> <br/> 
 Now let's have a look at the data that was loaded into the notebook. What are we actually looking at? Use for instance df, df.head() or df.tail() to see different parts of the table and jeans.dtypes to check which variables there are and what datatype they have. Add a number between the emply brackets () to specify how many lines you want to display.
    
  Explore some of the following commands:
  <ul>
  <li><font face="Courier">df.head()</font></li>
  <li><font face="Courier">df.tail()</font></li>
  <li><font face="Courier">df.columns</font></li>
  <li><font face="Courier">df.values</font></li>
  <li><font face="Courier">df.shape</font></li>
  <li><font face="Courier">len(df)</font></li>
  <li><font face="Courier">list(df)</font></li>
  </ul>
</div>  

> *Tip*: If you want to run these in separate cells, activate the below cell by clicking on it and then click on the + at the top of the notebook. This will add extra cells. Click on the buttons with the upwards and downwards arrows to move the cells up and down to change their order.

In [ ]:
# try the commands here (add as many cells as you need):

<a id="introduction"></a>
## 1. Introduction

The Python package you used to read this file and look at some of it's properties is [Pandas](https://pandas.pydata.org/), which is an open source library with easy-to-use data structures and data analysis tools. 

<div class="alert alert-info" style="font-size:100%">
<b>Read this <a href="http://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html">10 minute introduction</a> for a quick overview of Pandas.<br>
</div>

<a id="series"></a>
### 1.1 Series and DataFrames 

Let's go through some of the basics of Pandas before going back to the London dataset. Pandas has two main data structures: `Series` and `DataFrames`. 

A `Series` is a list of values with an integer index. The first column is the index (the default starts at 0) and the second column the values.

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

 A `DataFrame` is similar, but has multiple columns. You can create one in many ways, by loading a file or from for example a NumPy array and a date for the index. (We come back to the index and dates later) 


<div class="alert alert-info" style="font-size:100%">
<b>Read this <a href="https://docs.scipy.org/doc/numpy-1.15.0/user/quickstart.html"> tutorial</a> for an overview of NumPy.<br>
</div>

Two examples:

In [ ]:
dates = pd.date_range('20130101', periods=6)
dates

In [ ]:
numbers = np.random.randn(6, 4)
numbers

In [ ]:
df1 = pd.DataFrame(numbers, index=dates, columns=list('ABCD'))
df1

In [ ]:
df2 = pd.DataFrame({'A': 1.,
                     'B': pd.Timestamp('20130102'),
                     'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                     'D': np.array([3] * 4, dtype='int32'),
                     'E': pd.Categorical(["test", "train", "test", "train"]),
                     'F': 'foo'})

In [ ]:
df2.head()

To find out what the data type is of a variable use `type()`:

In [ ]:
print('Data type of s is '+str(type(s)))
print('Data type of s is '+str(type(dates)))
print('Data type of s is '+str(type(numbers)))
print('Data type of df is '+str(type(df1)))

In [ ]:
type(df)

<a id="index"></a>
### 1.2 Indexing 

It is important to understand the `index` to work with dataframes, so let's explore this a little. We will com back to it more later. 

For this we will make a copy of the `df` DataFrame:

In [44]:
boroughs = df.copy()

In [45]:
boroughs.head()

,Code,Area_name,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015",...,Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
0,E09000001,City of London,Inner London,8800,5326.0,290,30.3,43.2,11.4,73.1,...,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
1,E09000002,Barking and Dagenham,Outer London,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,...,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
2,E09000003,Barnet,Outer London,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,...,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
3,E09000004,Bexley,Outer London,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,...,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
4,E09000005,Brent,Outer London,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,...,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3

In [46]:
list(boroughs)

['Code',
 'Area_name',
 'Inner/_Outer_London',
 'GLA_Population_Estimate_2017',
 'GLA_Household_Estimate_2017',
 'Inland_Area_(Hectares)',
 'Population_density_(per_hectare)_2017',
 'Average_Age,_2017',
 'Proportion_of_population_aged_0-15,_2015',
 'Proportion_of_population_of_working-age,_2015',
 'Proportion_of_population_aged_65_and_over,_2015',
 'Net_internal_migration_(2015)',
 'Net_international_migration_(2015)',
 'Net_natural_change_(2015)',
 '%_of_resident_population_born_abroad_(2015)',
 'Largest_migrant_population_by_country_of_birth_(2011)',
 '%_of_largest_migrant_population_(2011)',
 'Second_largest_migrant_population_by_country_of_birth_(2011)',
 '%_of_second_largest_migrant_population_(2011)',
 'Third_largest_migrant_population_by_country_of_birth_(2011)',
 '%_of_third_largest_migrant_population_(2011)',
 '%_of_population_from_BAME_groups_(2016)',
 '%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)',
 'Overseas_nationals_entering_the_UK_(NINo),_(2015/16)',
 'New_migrant_(NINo)_rates,_(2015/16)',
 'Largest_migrant_population_arrived_during_2015/16',
 'Second_largest_migrant_population_arrived_during_2015/16',
 'Third_largest_migrant_population_arrived_during_2015/16',
 'Employment_rate_(%)_(2015)',
 'Male_employment_rate_(2015)',
 'Female_employment_rate_(2015)',
 'Unemployment_rate_(2015)',
 'Youth_Unemployment_(claimant)_rate_18-24_(Dec-15)',
 'Proportion_of_16-18_year_olds_who_are_NEET_(%)_(2014)',
 'Proportion_of_the_working-age_population_who_claim_out-of-work_benefits_(%)_(May-2016)',
 '%_working-age_with_a_disability_(2015)',
 'Proportion_of_working_age_people_with_no_qualifications_(%)_2015',
 'Proportion_of_working_age_with_degree_or_equivalent_and_above_(%)_2015',
 'Gross_Annual_Pay,_(2016)',
 'Gross_Annual_Pay_-_Male_(2016)',
 'Gross_Annual_Pay_-_Female_(2016)',
 'Modelled_Household_median_income_estimates_2012/13',
 '%_adults_that_volunteered_in_past_12_months_(2010/11_to_2012/13)',
 'Number_of_jobs_by_workplace_(2014)',
 '%_of_employment_that_is_in_public_sector_(2014)',
 'Jobs_Density,_2015',
 'Number_of_active_businesses,_2015',
 'Two-year_business_survival_rates_(started_in_2013)',
 'Crime_rates_per_thousand_population_2014/15',
 'Fires_per_thousand_population_(2014)',
 'Ambulance_incidents_per_hundred_population_(2014)',
 'Median_House_Price,_2015',
 'Average_Band_D_Council_Tax_charge_(£),_2015/16',
 'New_Homes_(net)_2015/16_(provisional)',
 'Homes_Owned_outright,_(2014)_%',
 'Being_bought_with_mortgage_or_loan,_(2014)_%',
 'Rented_from_Local_Authority_or_Housing_Association,_(2014)_%',
 'Rented_from_Private_landlord,_(2014)_%',
 '%_of_area_that_is_Greenspace,_2005',
 'Total_carbon_emissions_(2014)',
 'Household_Waste_Recycling_Rate,_2014/15',
 'Number_of_cars,_(2011_Census)',
 'Number_of_cars_per_household,_(2011_Census)',
 '%_of_adults_who_cycle_at_least_once_per_month,_2014/15',
 'Average_Public_Transport_Accessibility_score,_2014',
 'Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14',
 'Rates_of_Children_Looked_After_(2016)',
 '%_of_pupils_whose_first_language_is_not_English_(2015)',
 '%_children_living_in_out-of-work_households_(2015)',
 'Male_life_expectancy,_(2012-14)',
 'Female_life_expectancy,_(2012-14)',
 'Teenage_conception_rate_(2014)',
 'Life_satisfaction_score_2011-14_(out_of_10)',
 'Worthwhileness_score_2011-14_(out_of_10)',
 'Happiness_score_2011-14_(out_of_10)',
 'Anxiety_score_2011-14_(out_of_10)',
 'Childhood_Obesity_Prevalance_(%)_2015/16',
 'People_aged_17+_with_diabetes_(%)',
 'Mortality_rate_from_causes_considered_preventable_2012/14',
 'Political_control_in_council',
 'Proportion_of_seats_won_by_Conservatives_in_2014_election',
 'Proportion_of_seats_won_by_Labour_in_2014_election',
 'Proportion_of_seats_won_by_Lib_Dems_in_2014_election',
 'Turnout_at_2014_local_elections']

In [47]:
boroughs.index

RangeIndex(start=0, stop=38, step=1)

In [48]:
boroughs = boroughs.set_index('Area_name')
boroughs.head()

,Code,Inner/_Outer_London,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",...,Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
Area_name,,,,,,,,,,,,,,,,,,,,,
City of London,E09000001,Inner London,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,...,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,E09000002,Outer London,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,9.7,...,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
Barnet,E09000003,Outer London,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,14.0,...,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
Bexley,E09000004,Outer London,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,...,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
Brent,E09000005,Outer London,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,11.3,...,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3

In [49]:
boroughs.index

Index(['City of London', 'Barking and Dagenham', 'Barnet', 'Bexley', 'Brent',
       'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich',
       'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering',
       'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea',
       'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham',
       'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton',
       'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'Westminster',
       'Inner London', 'Outer London', 'London', 'England', 'United Kingdom'],
      dtype='object', name='Area_name')

In [50]:
boroughs = boroughs.reset_index()
boroughs = boroughs.set_index(['Area_name','Inner/_Outer_London'])
boroughs.head()

,,Code,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",Net_internal_migration_(2015),...,Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
Area_name,Inner/_Outer_London,,,,,,,,,,,,,,,,,,,,,
City of London,Inner London,E09000001,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,-7,...,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
Barking and Dagenham,Outer London,E09000002,209000,78188.0,"3,611",57.9,32.9,27.2,63.1,9.7,-1176,...,7.1,3.1,28.5,7.3,228.0,Lab,0.0,100.0,0.0,36.5
Barnet,Outer London,E09000003,389600,151423.0,"8,675",44.9,37.3,21.1,64.9,14.0,-3379,...,7.4,2.8,20.7,6.0,134.0,Cons,50.8,NaN,1.6,40.5
Bexley,Outer London,E09000004,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,413,...,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
Brent,Outer London,E09000005,332100,121048.0,"4,323",76.8,35.6,20.9,67.8,11.3,-7739,...,7.2,2.9,24.3,7.9,169.0,Lab,9.5,88.9,1.6,36.3

In [51]:
boroughs.index

MultiIndex(levels=[['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'City of London', 'Croydon', 'Ealing', 'Enfield', 'England', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Inner London', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'London', 'Merton', 'Newham', 'Outer London', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'United Kingdom', 'Waltham Forest', 'Wandsworth', 'Westminster'], ['Inner London', 'Outer London']],
           labels=[[6, 0, 1, 2, 3, 4, 5, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 26, 27, 29, 30, 31, 32, 33, 35, 36, 37, 19, 28, 25, 10, 34], [0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, -1, -1, -1, -1, -1]],
           names=['Area_name', 'Inner/_Outer_London'])

In [55]:
boroughs = boroughs.reset_index()
boroughs = boroughs.set_index(['Area_name'])

<a id="selection"></a>
### 1.3 Data Selection

Select a single label or a range of labels with `.loc[]` (This only works for the column that was set to the index):

In [56]:
boroughs.loc['City of London', 'Inland_Area_(Hectares)']

'290'

In [57]:
boroughs.loc['City of London':'Bexley', ['Inland_Area_(Hectares)', 'Average_Age,_2017']]

                     Inland_Area_(Hectares)  Average_Age,_2017
Area_name
City of London                          290               43.2
Barking and Dagenham                  3,611               32.9
Barnet                                8,675               37.3
Bexley                                6,058               39.0

Or select by position with `.iloc[]`. You can select a single row, multiple rows (or columns) at particular positions in the index, it only takes integers:

In [58]:
boroughs.iloc[0]

Inner/_Outer_London                                                                                  Inner London
Code                                                                                                    E09000001
GLA_Population_Estimate_2017                                                                                 8800
GLA_Household_Estimate_2017                                                                                  5326
Inland_Area_(Hectares)                                                                                        290
Population_density_(per_hectare)_2017                                                                        30.3
Average_Age,_2017                                                                                            43.2
Proportion_of_population_aged_0-15,_2015                                                                     11.4
Proportion_of_population_of_working-age,_2015                                                                73.1
Proportion_of_population_aged_65_and_over,_2015                                                              15.5
Net_internal_migration_(2015)                                                                                  -7
Net_international_migration_(2015)                                                                            665
Net_natural_change_(2015)                                                                                      30
%_of_resident_population_born_abroad_(2015)                                                                   NaN
Largest_migrant_population_by_country_of_birth_(2011)                                               United States
%_of_largest_migrant_population_(2011)                                                                        2.8
Second_largest_migrant_population_by_country_of_birth_(2011)                                               France
%_of_second_largest_migrant_population_(2011)                                                                   2
Third_largest_migrant_population_by_country_of_birth_(2011)                                             Australia
%_of_third_largest_migrant_population_(2011)                                                                  1.9
%_of_population_from_BAME_groups_(2016)                                                                      27.5
%_people_aged_3+_whose_main_language_is_not_English_(2011_Census)                                            17.1
Overseas_nationals_entering_the_UK_(NINo),_(2015/16)                                                          975
New_migrant_(NINo)_rates,_(2015/16)                                                                         152.2
Largest_migrant_population_arrived_during_2015/16                                                           India
Second_largest_migrant_population_arrived_during_2015/16                                                   France
Third_largest_migrant_population_arrived_during_2015/16                                             United States
Employment_rate_(%)_(2015)                                                                                   64.6
Male_employment_rate_(2015)                                                                                   NaN
Female_employment_rate_(2015)                                                                                 NaN
                                                                                                        ...
Homes_Owned_outright,_(2014)_%                                                                                NaN
Being_bought_with_mortgage_or_loan,_(2014)_%                                                                  NaN
Rented_from_Local_Authority_or_Housing_Association,_(2014)_%                                                  NaN
Rented_from_Private_landlord,_(2014)_%                                                                        NaN
%_of_area_that_is_Greenspace,_2005                                                                            4.8
Total_carbon_emissions_(2014)                                                                                1036
Household_Waste_Recycling_Rate,_2014/15                                                                      34.4
Number_of_cars,_(2011_Census)                                                                                1692
Number_of_cars_per_household,_(2011_Census)                                                                   0.4
%_of_adults_who_cycle_at_least_once_per_month,_2014/15                                                       16.9
Average_Public_Transport_Accessibility_score,_2014                                                            7.9
Achievement_of_5_or_more_A*-_C_grades_at_GCSE_or_equivalent_including_English_and_Maths,_2013/14             78.6
Rates_of_Children_Looked_After_(2016)                                                                         101
%_of_pupils_whose_first_language_is_not_English_(2015)                                                        NaN
%_children_living_in_out-of-work_households_(2015)                                                            7.9
Male_life_expectancy,_(2012-14)                                                                               NaN
Female_life_expectancy,_(2012-14)                                                                             NaN
Teenage_conception_rate_(2014)                                                                                NaN
Life_satisfaction_score_2011-14_(out_of_10)                                                                   6.6
Worthwhileness_score_2011-14_(out_of_10)                                                                      7.1
Happiness_score_2011-14_(out_of_10)                                                                             6
Anxiety_score_2011-14_(out_of_10)                                                                             5.6
Childhood_Obesity_Prevalance_(%)_2015/16                                                                      NaN
People_aged_17+_with_diabetes_(%)                                                                             2.6
Mortality_rate_from_causes_considered_preventable_2012/14                                                     129
Political_control_in_council                                                                                  NaN
Proportion_of_seats_won_by_Conservatives_in_2014_election                                                     NaN
Proportion_of_seats_won_by_Labour_in_2014_election                                                            NaN
Proportion_of_seats_won_by_Lib_Dems_in_2014_election                                                          NaN
Turnout_at_2014_local_elections                                                                               NaN
Name: City of London, Length: 83, dtype: object

In [59]:
boroughs.iloc[:,1]

Area_name
City of London            E09000001
Barking and Dagenham      E09000002
Barnet                    E09000003
Bexley                    E09000004
Brent                     E09000005
Bromley                   E09000006
Camden                    E09000007
Croydon                   E09000008
Ealing                    E09000009
Enfield                   E09000010
Greenwich                 E09000011
Hackney                   E09000012
Hammersmith and Fulham    E09000013
Haringey                  E09000014
Harrow                    E09000015
Havering                  E09000016
Hillingdon                E09000017
Hounslow                  E09000018
Islington                 E09000019
Kensington and Chelsea    E09000020
Kingston upon Thames      E09000021
Lambeth                   E09000022
Lewisham                  E09000023
Merton                    E09000024
Newham                    E09000025
Redbridge                 E09000026
Richmond upon Thames      E09000027
Southwark                 E09000028
Sutton                    E09000029
Tower Hamlets             E09000030
Waltham Forest            E09000031
Wandsworth                E09000032
Westminster               E09000033
Inner London              E13000001
Outer London              E13000002
London                    E12000007
England                   E92000001
United Kingdom            K02000001
Name: Code, dtype: object

In [60]:
boroughs.iloc[:,0:2]

                       Inner/_Outer_London       Code
Area_name
City of London                Inner London  E09000001
Barking and Dagenham          Outer London  E09000002
Barnet                        Outer London  E09000003
Bexley                        Outer London  E09000004
Brent                         Outer London  E09000005
Bromley                       Outer London  E09000006
Camden                        Inner London  E09000007
Croydon                       Outer London  E09000008
Ealing                        Outer London  E09000009
Enfield                       Outer London  E09000010
Greenwich                     Outer London  E09000011
Hackney                       Inner London  E09000012
Hammersmith and Fulham        Inner London  E09000013
Haringey                      Inner London  E09000014
Harrow                        Outer London  E09000015
Havering                      Outer London  E09000016
Hillingdon                    Outer London  E09000017
Hounslow                      Outer London  E09000018
Islington                     Inner London  E09000019
Kensington and Chelsea        Inner London  E09000020
Kingston upon Thames          Outer London  E09000021
Lambeth                       Inner London  E09000022
Lewisham                      Inner London  E09000023
Merton                        Outer London  E09000024
Newham                        Inner London  E09000025
Redbridge                     Outer London  E09000026
Richmond upon Thames          Outer London  E09000027
Southwark                     Inner London  E09000028
Sutton                        Outer London  E09000029
Tower Hamlets                 Inner London  E09000030
Waltham Forest                Outer London  E09000031
Wandsworth                    Inner London  E09000032
Westminster                   Inner London  E09000033
Inner London                           NaN  E13000001
Outer London                           NaN  E13000002
London                                 NaN  E12000007
England                                NaN  E92000001
United Kingdom                         NaN  K02000001

In [61]:
boroughs.iloc[2:4,0:2]

          Inner/_Outer_London       Code
Area_name
Barnet           Outer London  E09000003
Bexley           Outer London  E09000004

You can also use one or more column names to create a new DataFrame.

In [62]:
boroughs['Inland_Area_(Hectares)']

Area_name
City of London                   290
Barking and Dagenham           3,611
Barnet                         8,675
Bexley                         6,058
Brent                          4,323
Bromley                       15,013
Camden                         2,179
Croydon                        8,650
Ealing                         5,554
Enfield                        8,083
Greenwich                      4,733
Hackney                        1,905
Hammersmith and Fulham         1,640
Haringey                       2,960
Harrow                         5,046
Havering                      11,235
Hillingdon                    11,570
Hounslow                       5,598
Islington                      1,486
Kensington and Chelsea         1,212
Kingston upon Thames           3,726
Lambeth                        2,681
Lewisham                       3,515
Merton                         3,762
Newham                         3,620
Redbridge                      5,642
Richmond upon Thames           5,741
Southwark                      2,886
Sutton                         4,385
Tower Hamlets                  1,978
Waltham Forest                 3,881
Wandsworth                     3,426
Westminster                    2,149
Inner London                  31,929
Outer London                 125,424
London                       157,215
England                   13,025,967
United Kingdom                   NaN
Name: Inland_Area_(Hectares), dtype: object

In [63]:
boroughs2 = boroughs[['Inland_Area_(Hectares)', 'Average_Age,_2017']]
boroughs2

                       Inland_Area_(Hectares)  Average_Age,_2017
Area_name
City of London                            290               43.2
Barking and Dagenham                    3,611               32.9
Barnet                                  8,675               37.3
Bexley                                  6,058               39.0
Brent                                   4,323               35.6
Bromley                                15,013               40.2
Camden                                  2,179               36.4
Croydon                                 8,650               37.0
Ealing                                  5,554               36.2
Enfield                                 8,083               36.3
Greenwich                               4,733               35.0
Hackney                                 1,905               33.1
Hammersmith and Fulham                  1,640               35.7
Haringey                                2,960               35.1
Harrow                                  5,046               38.3
Havering                               11,235               40.3
Hillingdon                             11,570               36.4
Hounslow                                5,598               35.8
Islington                               1,486               34.8
Kensington and Chelsea                  1,212               39.3
Kingston upon Thames                    3,726               37.1
Lambeth                                 2,681               34.5
Lewisham                                3,515               35.0
Merton                                  3,762               36.7
Newham                                  3,620               32.1
Redbridge                               5,642               35.8
Richmond upon Thames                    5,741               38.8
Southwark                               2,886               34.4
Sutton                                  4,385               38.9
Tower Hamlets                           1,978               31.4
Waltham Forest                          3,881               35.1
Wandsworth                              3,426               35.0
Westminster                             2,149               37.7
Inner London                           31,929               34.7
Outer London                          125,424               36.9
London                                157,215               36.0
England                            13,025,967               40.0
United Kingdom                            NaN               40.1

#### Filtering

Selecting rows based on a certain condition can be done with Boolean indexing:

In [66]:
boroughs['Average_Age,_2017'] > 40

Area_name
City of London             True
Barking and Dagenham      False
Barnet                    False
Bexley                    False
Brent                     False
Bromley                    True
Camden                    False
Croydon                   False
Ealing                    False
Enfield                   False
Greenwich                 False
Hackney                   False
Hammersmith and Fulham    False
Haringey                  False
Harrow                    False
Havering                   True
Hillingdon                False
Hounslow                  False
Islington                 False
Kensington and Chelsea    False
Kingston upon Thames      False
Lambeth                   False
Lewisham                  False
Merton                    False
Newham                    False
Redbridge                 False
Richmond upon Thames      False
Southwark                 False
Sutton                    False
Tower Hamlets             False
Waltham Forest            False
Wandsworth                False
Westminster               False
Inner London              False
Outer London              False
London                    False
England                   False
United Kingdom             True
Name: Average_Age,_2017, dtype: bool

If you want to select the data add `cities[]` around the above:

In [69]:
boroughs[boroughs['Average_Age,_2017'] > 38]

,Inner/_Outer_London,Code,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",...,Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
Area_name,,,,,,,,,,,,,,,,,,,,,
City of London,Inner London,E09000001,8800,5326.0,290,30.3,43.2,11.4,73.1,15.5,...,6.0,5.6,NaN,2.6,129.0,NaN,NaN,NaN,NaN,NaN
Bexley,Outer London,E09000004,244300,97736.0,"6,058",40.3,39.0,20.6,62.9,16.6,...,7.2,3.3,22.7,6.9,164.0,Cons,71.4,23.8,0.0,39.6
Bromley,Outer London,E09000006,327900,140602.0,"15,013",21.8,40.2,19.9,62.6,17.5,...,7.4,3.3,16,5.2,148.0,Cons,85.0,11.7,0.0,40.8
Harrow,Outer London,E09000015,252300,92557.0,"5,046",50.0,38.3,20.5,64.5,15.0,...,7.3,2.7,20.2,8.5,134.0,Lab,41.3,54.0,1.6,40.7
Havering,Outer London,E09000016,254300,104098.0,"11,235",22.6,40.3,19.3,62.3,18.4,...,7.2,3.3,21.8,5.9,159.0,No Overall Control,40.7,1.9,0.0,43.1
Kensington and Chelsea,Inner London,E09000020,159000,80200.0,"1,212",131.1,39.3,16.4,69.3,14.3,...,7.6,3.1,18.6,4.2,136.0,Cons,74.0,24.0,2.0,29.8
Richmond upon Thames,Outer London,E09000027,197300,85108.0,"5,741",34.4,38.8,20.7,64.5,14.8,...,7.3,3.2,12.6,3.7,137.0,Cons,72.2,0.0,27.8,46.1
Sutton,Outer London,E09000029,202600,85243.0,"4,385",46.2,38.9,20.7,64.3,15.1,...,7.3,3.2,18.4,5.9,163.0,Lib Dem,16.7,0.0,83.3,42.6
England,NaN,E92000001,55609600,NaN,"13,025,967",NaN,40.0,19.0,63.3,17.7,...,7.3,3.0,19.8,6.2,183.0,NaN,NaN,NaN,NaN,NaN
United Kingdom,NaN,K02000001,65999100,NaN,NaN,NaN,40.1,18.8,63.3,17.8,...,7.3,3.0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Combining different columns using `&`, `|` and `==` is also possible"

In [ ]:
boroughs[(boroughs['Average_Age,_2017'] > 38) & (boroughs['population'] > 2500000)]

In [ ]:
boroughs[(boroughs['Average_Age,_2017'] < 38) | (boroughs['population'] < 1000000)]

In [70]:
boroughs[boroughs['Average_Age,_2017'] == 40.2]

,Inner/_Outer_London,Code,GLA_Population_Estimate_2017,GLA_Household_Estimate_2017,Inland_Area_(Hectares),Population_density_(per_hectare)_2017,"Average_Age,_2017","Proportion_of_population_aged_0-15,_2015","Proportion_of_population_of_working-age,_2015","Proportion_of_population_aged_65_and_over,_2015",...,Happiness_score_2011-14_(out_of_10),Anxiety_score_2011-14_(out_of_10),Childhood_Obesity_Prevalance_(%)_2015/16,People_aged_17+_with_diabetes_(%),Mortality_rate_from_causes_considered_preventable_2012/14,Political_control_in_council,Proportion_of_seats_won_by_Conservatives_in_2014_election,Proportion_of_seats_won_by_Labour_in_2014_election,Proportion_of_seats_won_by_Lib_Dems_in_2014_election,Turnout_at_2014_local_elections
Area_name,,,,,,,,,,,,,,,,,,,,,
Bromley,Outer London,E09000006,327900,140602.0,"15,013",21.8,40.2,19.9,62.6,17.5,...,7.4,3.3,16,5.2,148.0,Cons,85.0,11.7,0.0,40.8

<div class="alert alert-success">
 <b>EXERCISE</b> <br/> 
 With the above commands you can now start exploring the data some more. Answer some of the following questions by writing a little code (add as many cells as you need):
  <ul>
  <li>What is the largest borough?</li>  
  <li>***</li>    
 </ul>  
</div>  

> *Tips*: 
- Find the maximum of a row with for instance `cities['area'].max()` 
- Extract the value from a cell in a DataFrame with `.value[]`
- Print a value with `print()` for instance: `print(cities['area'][0])` for the price from the first row. If you calculate multiple values in one cell you will need this, else the answers will not be displayed.
- To see the answer uncomment the line in the cell that contains `%load` (by deleting the `#`) and then run the cell, but try to find your own solution first in the cell above the solution!

In [ ]:
# most expensive jeans

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/dsa_answer1.py

# price of the most expensive jeans
print (jeans['price'].max())

# brand for the most expensive jeans
print (jeans['brand'][jeans['price'] == jeans['price'].max()])

# price of the cheapest jeans
print (jeans['price'].min())

# brand for the cheapest jeans
print (jeans['brand'][jeans['price'] == jeans['price'].min()])

# difference in price
print(jeans['price'].max() - jeans['price'].min())

<a id="transform"></a>
## 2. Transform Data

When looking at data there are always transformations needed to get it in the format you need for your analysis, visualisations or models. 

These are a few examples of the endless possibilities. The best way to learn is to find a dataset and try to answer questions with the data. The Pandas documentation is real good, and on StackOverflow there is almost always someone who asked the same question already. 

<a id="columns"></a>
### 2.1 Adding and deleting columns
Adding a column can be done by defining a new column, which can then be dropped with 'drop'.

In [ ]:
jeans['new'] = 1
jeans = jeans.drop(columns='new')

In [ ]:
jeans['avgHeightFront'] = (jeans.maxHeightFront + jeans.minHeightFront) / 2

In [ ]:
jeans.head()

<a id="cleaning"></a>
### 2.2 Cleaning Data

Things to check:

- Is the data tidy: each variable forms a column, each observation forms a row and  each type of observational unit forms a table.
- Are all columns in the right data format?
- Are there missing values?
- Are there unrealistic outliers?

Get a quick overview of the numeric data with `.describe()`. If any of the numeric columns is missing this is a probably because of a wring data type.

In [ ]:
jeans.describe()

It is not always ideal to have text in the table. Especially not if you want to create a model from the data. You could replace `style` into numbers, but is one style really twice as large as another. It is better to transform the data with `get.dummies()`. The below will add 4 new columns to the DataFrame:

In [ ]:
jeans.head()

In [ ]:
jeans2 = jeans.copy()
style = pd.get_dummies(jeans2['style'], drop_first=True)
jeans2 = jeans2.join(style)
jeans2.head(2)

Or do this all in one line of code:

In [ ]:
jeans = jeans.join(pd.get_dummies(jeans['style'], drop_first=True))
jeans.head(2)

<a id="merging"></a>
### 2.3 Merging Data

There are several ways to combine data. The [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) has lots of examples. You can combine data with `.append()` or `.concat()`:

In [ ]:
data = {'city':       ['London','Manchester','Birmingham','Leeds','Glasgow'],
        'population': [9787426,  2553379,     2440986,    1777934,1209143],
        'area':       [1737.9,   630.3,       598.9,      487.8,  368.5 ]}
cities = pd.DataFrame(data)

data2 = {'city':       ['Liverpool','Southampton'],
        'population': [864122,  855569],
        'area':       [199.6,   192.0]}
cities2 = pd.DataFrame(data2)

These new cities can be added with `append()`:

In [ ]:
cities = cities.append(cities2)
cities

In [ ]:
data = {'city': ['London','Manchester','Birmingham','Leeds','Glasgow'],
        'density': [5630,4051,4076,3645,3390]}
cities3 = pd.DataFrame(data)

In [ ]:
cities3

An extra column can be added with `.merge()` with an outer join using the city names:

In [ ]:
cities = pd.merge(cities, cities3, how='outer', sort=True,on='city')
cities

Data that does not quite fit can be merged as well:

In [ ]:
data = {'city':       ['Newcastle','Nottingham'],
        'population': [774891,  729977],
        'area':       [180.5,   176.4]}

cities4 = pd.DataFrame(data)
cities4

In [ ]:
cities = cities.append(cities4)
cities

<a id="grouping"></a>
### 2.4 Grouping Data

Grouping data is a quick way to calculate values for classes in your DataFrame. The example below gives you the mean values of all variables for the 2 `cutout` classes, and for a comination of all classes when `cutout` and `style` are combined.

In [ ]:
jeans.columns

In [ ]:
jeans.groupby(['cutout']).mean()

In [ ]:
jeans.groupby(['cutout','style']).max().head(10)

<div class="alert alert-success">
 <b>EXERCISES</b> <br/> 
 Using the jeans DataFrame:
  <ul>
  <li>Add a column `FrontArea` with the area of the front pocket (height X width) </li>        
  <li>Add a column `BackArea` with the area of the back pocket (height X width) </li>        
  <li>Add two columns `men` and `women` with `get_dummies()` and keep the original `menWomen`</li>        
  <li>Using `groupby().count()`: what is the number of mens and womens jeans measured?</li>        
  <li>What are the average front and back pocket sizes of mens and womens jeans?</li>   
 
 </ul>  
</div>  

> *Tips*: 
- To find out how many unique values there are in a column use `np.unique(df['a'])`
- You can use `mean()`, `max()`, `min()`, `count()` and more with `groupby()`

In [ ]:
# Add FrontArea

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer4.py

In [ ]:
# Add BackArea

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer5.py

In [ ]:
# Add men and women columns

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer6.py

In [ ]:
# Count number of mens and womens jeans

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer7.py

In [ ]:
# average front and back pocket sizes for men and womens jeans

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer8.py

<a id="explore"></a>
## 3. Visualizing Data

In [ ]:
# without this the plots would be opened  in a new window (not browser)
# with this instruction plots will be included in the notebook
%matplotlib inline

import matplotlib.pyplot as plt

The default plot is a line chart:

In [ ]:
jeans['price'].plot();

To create a plot that makes more sense for this data have a look at the [documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) for all options. A histogram might work better. Go ahead and change the number of bins until you think the number of bins looks right:

In [ ]:
jeans['price'].plot.hist(bins=5);

Change the size of the plot with `figsize`:

In [ ]:
jeans['price'].plot.hist(bins=15,figsize=(10,5));

You can select data as you learned earlier direclt in a plot command. The below plot shows only the mens jeans:

In [ ]:
jeans['price'][jeans['menWomen']=='men'].plot.hist(bins=15,figsize=(10,5));

To add the womens jeans, simply repeat the plot command with a different selection of the data:

In [ ]:
jeans['price'][jeans['menWomen']=='men'].plot.hist(bins=15,figsize=(10,5));
jeans['price'][jeans['menWomen']=='women'].plot.hist(bins=15,figsize=(10,5));

The above plot is difficult to read as the histograms overlap. You can fix this by changing the colours and making them transparant. To add a legend each histogram needs to be assigned to an object `ax` that is used to create a legend:

In [ ]:
ax = jeans['price'][jeans['menWomen']=='men'].plot.hist(
    bins=15,figsize=(10,5),alpha=0.5,color='#1A4D3B');
ax = jeans['price'][jeans['menWomen']=='women'].plot.hist(
    bins=15,figsize=(10,5),alpha=0.5,color='#4D1A39');
ax.legend(['men','women']);

It is easy to change pretty much everything as in the below code. This was the ugliest I could come up with. Can you make it worse?

In [ ]:
jeans['price'].plot.hist(
    bins=15, 
    title="Jeans Price",
    legend=False,
    fontsize=14,
    grid=False,
    linestyle='--',
    edgecolor='black',
    color='darkred',
    linewidth=3);

You can use `groupby()` in combination with a bar plot to visualize the price by style:

In [ ]:
style = jeans['price'].groupby(jeans['style']).mean()
ax=style.plot.bar();
ax.set_ylabel('Jeans Price');

## Seaborn

Seaborn is an easy to use visualisation package that works well with Pandas DataFrames. Below are a few examples, but have a look at the [documentation](https://seaborn.pydata.org/index.html) as there are many more plots you could make.

In [ ]:
import seaborn as sns

In [ ]:
sns.distplot(jeans['price']);

In [ ]:
sns.distplot(np.array(jeans['price']));

In [ ]:
sns.catplot(x='menWomen', y='price', data=jeans);

In [ ]:
sns.catplot(x='menWomen', y='price', hue='style', kind='swarm', data=jeans);

In [ ]:
sns.catplot(x="style", y="price", kind="box", data=jeans);

In [ ]:
sns.catplot(x="style", y="price", hue="menWomen", kind="box", data=jeans);

In [ ]:
ax=sns.scatterplot(y='BackArea', x='price', data=jeans)
ax=sns.scatterplot(y='FrontArea', x='price', data=jeans)
ax.set_ylabel('Pocket Size');
ax.legend(['Back pocket','Front pocket']);

<div class="alert alert-success">
 <b>EXERCISE</b>
 <ul>
  <li>Create two histograms that compare the sizes of pockets between men and womens jeans with `.plot.hist()`</li>
  <li>Create a bar plot with the size of the front pockets for men and women with `.plot.bar()`</li>
  <li>Create a bar plot with the size of the front pockets for men and women with `seaborn`</li>
  <li>Customize some of the plots you have made so far</li>
  <li>Explore the data further by creating more plots that can aswer qustions that you have about the dataset</li>
 </ul> 
</div>    

 
> Tip: to add two histograms to one plot you can repeat `.plot()` in the same cell

In [ ]:
# histogram front pockets

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer9.py

In [ ]:
# bar plot back pockets

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer10.py

In [ ]:
# bar plot back pockets (seaborn)

In [ ]:
# %load https://raw.githubusercontent.com/IBMDeveloperUK/pandas-workshop/master/answers/answer11.py

In [ ]:
# Customized plots

In [ ]:
# Further exploration

<a id="extra"></a>
# 4. Optional Excercises and further learning

If you finish early:

1. Have a look at [Call for Code](https://callforcode.org/) which is running again this year. Notebooks and Pandas are tools you could use in the challenge.
2. Try to create other plots. Have a look at the [Pandas plot examples](https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html) or the [Seaborn gallery](https://seaborn.pydata.org/examples/index.html) for inspiration.  
3. Or load one of your own datasets into a new notebook and play around with the data to practice what you have learned. You can use the free account you created today for your own projects as well! 
4. Have a look at these Pandas workshops and book: <br>
4.1. [Pandas workshop by Alexander Hensdorf](https://github.com/alanderex/pydata-pandas-workshop) <br>
4.2. [Pandas tutorial by Joris van den Bossche](https://github.com/jorisvandenbossche/pandas-tutorial) <br>
4.3. [Python Data Science Handbook](https://jakevdp.github.io/PythonDataScienceHandbook/) <br>

### Author
Margriet Groenendijk is a Data & AI Developer Advocate for IBM. She develops and presents talks and workshops about data science and AI. She is active in the local developer communities through attending, presenting and organising meetups. She has a background in climate science where she explored large observational datasets of carbon uptake by forests during her PhD, and global scale weather and climate models as a postdoctoral fellow. 

Copyright © 2019 IBM. This notebook and its source code are released under the terms of the MIT License.